@keyframes walkAnimation {
	0% {
		transform: translateX(-200px) translateY(0);
	}
	15% {
		transform: translateX(calc(20% - 100px)) translateY(0);
	}
	30% {
		transform: translateX(calc(40% - 100px)) translateY(0);
	}
	45% {
		transform: translateX(calc(50% - 100px)) translateY(0);
	}
	48% {
		transform: translateX(calc(50% - 100px)) translateY(-20px);
	}
	50% {
		transform: translateX(calc(50% - 100px)) translateY(-30px);
	}
	52% {
		transform: translateX(calc(50% - 100px)) translateY(-20px);
	}
	55% {
		transform: translateX(calc(50% - 100px)) translateY(0);
	}
	75% {
		transform: translateX(calc(80% - 100px)) translateY(-5px);
	}
	100% {
		transform: translateX(calc(120%)) translateY(0);
	}
}
